<div class="house-expert-wrap position-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col text-center">
        <h2 class="fs-40 m-0 fw-bold text-purple">
          Why work with House Expert?
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 d-flex flex-column">
        <div class="d-flex flex-column mb-4 bg-yellow ps-4 pt-4">
          <div class="pe-3">
            <h2 class="fs-30 fw-medium mb-2">Fresh Coat. Fresh Start.</h2>
            <p class="fs-18">Transform your space with a splash of color.</p>
            <div class="d-flex mb-3">
              <a class="custom-btn rounded-pill d-flex align-items-center gap-4" href="#">Painting Services <i class="fa fs-30 fa-arrow-right"></i></a>
            </div>
          </div>
          <div>
            <img class="w-100" src="../../../../assets/images/fresh.png" />
          </div>
        </div>

        <div class="d-flex flex-column bg-acent-dark pb-5 pe-4">
          <div class="order-2 ps-4 pt-4 pe-4">
            <h2 class="fs-30 fw-medium mb-2">Crafting Your Dreams.</h2>
            <p class="fs-18">Let us handle the grime, you enjoy the shine.</p>
            <div class="d-flex mb-3">
              <a class="custom-btn rounded-pill d-flex align-items-center gap-4" href="#">Carpentry Services <i class="fa fs-30 fa-arrow-right"></i></a>
            </div>
          </div>
          <div class="order-1">
            <img class="w-100" src="../../../../assets/images/crafting.png" />
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex flex-column">
        <div class="d-flex gap-3 mb-4 bg-acent pt-4 pe-4">
          <div class="order-2">
            <h2 class="fs-30 fw-medium mb-2">Spark Joy. <br />Not Sweat.</h2>
            <p class="fs-18">
              From built-ins to repairs, we build beauty into your space
            </p>
            <div class="d-flex mb-3">
              <a class="custom-btn rounded-pill d-flex align-items-center gap-4" href="#">Cleaning Services <i class="fa fs-30 fa-arrow-right"></i></a>
            </div>
          </div>
          <div class="order-1">
            <img
              style="max-width: 314px"
              src="../../../../assets/images/spark.png"
            />
          </div>
        </div>
        <div class="row flex-grow-1">
          <div class="col-lg-6  d-flex flex-column">
            <div class="d-flex flex-column bg-sky ps-4 pb-4 flex-grow-1">
              <div class="order-2 pt-4">
                <h2 class="fs-30 fw-medium mb-2">Keep Cool. Stay Comfy.</h2>
                <p class="fs-18">
                  Breathe easy knowing your AC is always in tip-top shape.
                </p>
                <div class="d-flex mb-3">
                  <a class="custom-btn rounded-pill d-flex align-items-center gap-4" href="#"
                    >AC Service & Repair <i class="fa fs-30 fa-arrow-right"></i></a
                  >
                </div>
              </div>
              <div class="order-1">
                <img
                  class="w-100"
                  src="../../../../assets/images/keep-cool.png"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-6 d-flex flex-column">
            <div class="d-flex flex-column bg-dark-green pt-4 ps-4 flex-grow-1">
              <div class="pe-4">
                <h2 class="fs-30 fw-medium mb-2">Power Up Your Life.</h2>
                <p class="fs-18">
                  We’ll illuminate your world, <br />one spark at a time
                </p>
                <div class="d-flex mb-3">
                  <a class="custom-btn rounded-pill d-flex align-items-center gap-4" href="#"
                    >Electrician Services <i class="fa fs-30 fa-arrow-right"></i></a
                  >
                </div>
              </div>
              <div class="mt-auto">
                <img
                  class="w-100"
                  src="../../../../assets/images/electrician.png"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="position-absolute shadow-pink top-0 end-0 scaleX-1">
    <img
      src="../../../../assets/images/pink-shape.svg"
      style="width: 210px"
      alt="shap"
    />
  </div>
  <div class="position-absolute shadow-purple top-50 start-0 translate-middle-y pt-5 mt-5">
    <img
      src="../../../../assets/images/purple-shape.svg"
      class="scaleX-1"
      style="width: 190px"
      alt="shap"
    />
  </div>
</div>
