.footer-wrap {
    background-color: var(--light-color);
    padding: 80px 0 0;
    .f-links{
        h2{
            font-size: var(--font-size-18);
            font-weight: 600;
            color: var(--black-color);
            display: inline-block;
            position: relative;
            padding-bottom: 20px;
            margin-bottom: 20px;
            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: var(--purple-color);
            }

        }
        ul{
            list-style: none;
            li{
                margin-bottom: .5rem;
                a{
                    font-size: var(--font-size-16);
                    color: var(--gray-color);
                    text-decoration: none;
                    &:hover{
                        color: var(--purple-color);
                    }
                }
            }
        }
    }

    .copyright {
        background-color: var(--dark-color);
        padding: 20px 0;
        margin-top: 70px;
        font-size: var(--font-size-14);

        p,
        a {
            color: var(--copyright-color);
            text-decoration: none;
        }

    }
}
@media only screen and (max-width: 767px) {
    .footerlogo{
        width: 100%;
    }
}

#whatsappbutton {
    display: none
}

#callnowbutton {
    display: none
}

@media screen and (max-width: 650px) {
    #whatsappbutton {
        display: block;
        position: fixed;
        text-decoration: none;
        z-index: 2147483647;
        width: 55px;
        height: 55px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
      
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        transform: scale(1);
 
        bottom: 15px;
        right: 10px;
        
        

    }
    #callnowbutton {
        display: block;
        position: fixed;
        text-decoration: none;
        z-index: 2147483647;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        transform: scale(1);
        bottom: 15px;
        left: 10px;
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNjAgNjAiPjxwYXRoIGQ9Ik03LjEwNCAxNC4wMzJsMTUuNTg2IDEuOTg0YzAgMC0wLjAxOSAwLjUgMCAwLjk1M2MwLjAyOSAwLjc1Ni0wLjI2IDEuNTM0LTAuODA5IDIuMSBsLTQuNzQgNC43NDJjMi4zNjEgMy4zIDE2LjUgMTcuNCAxOS44IDE5LjhsMTYuODEzIDEuMTQxYzAgMCAwIDAuNCAwIDEuMSBjLTAuMDAyIDAuNDc5LTAuMTc2IDAuOTUzLTAuNTQ5IDEuMzI3bC02LjUwNCA2LjUwNWMwIDAtMTEuMjYxIDAuOTg4LTI1LjkyNS0xMy42NzRDNi4xMTcgMjUuMyA3LjEgMTQgNy4xIDE0IiBmaWxsPSIjMDA5ZDAwIi8+PHBhdGggZD0iTTcuMTA0IDEzLjAzMmw2LjUwNC02LjUwNWMwLjg5Ni0wLjg5NSAyLjMzNC0wLjY3OCAzLjEgMC4zNWw1LjU2MyA3LjggYzAuNzM4IDEgMC41IDIuNTMxLTAuMzYgMy40MjZsLTQuNzQgNC43NDJjMi4zNjEgMy4zIDUuMyA2LjkgOS4xIDEwLjY5OWMzLjg0MiAzLjggNy40IDYuNyAxMC43IDkuMSBsNC43NC00Ljc0MmMwLjg5Ny0wLjg5NSAyLjQ3MS0xLjAyNiAzLjQ5OC0wLjI4OWw3LjY0NiA1LjQ1NWMxLjAyNSAwLjcgMS4zIDIuMiAwLjQgMy4xMDVsLTYuNTA0IDYuNSBjMCAwLTExLjI2MiAwLjk4OC0yNS45MjUtMTMuNjc0QzYuMTE3IDI0LjMgNy4xIDEzIDcuMSAxMyIgZmlsbD0iI2ZmZmZmZiIvPjwvc3ZnPg==) center/35px 35px no-repeat #00bb00;
    }
}
#whatsappbutton i {
    font-size: 2.0rem;
    padding-right: 0;
    padding-top: 13px;
    padding-left: 10px;
}

#callnowbutton span {
    -webkit-user-select: none;
    user-select: none;
    display: block;
    width: auto;
    background-color: rgba(70, 70, 70, .9);
    position: absolute;
    left: 68px;
    border-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 6px 8px;
    font-size: 13px;
    font-weight: 700;
    color: #ececec;
    top: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    word-break: keep-all;
    line-height: 1em;
    text-overflow: ellipsis;
    vertical-align: middle
}