<div class="banner-wrap">
    <div class="d-flex">
        <div class="w-100 d-mobile-none">
            <img class="w-100" src="../../../../assets/images/intro/tile_01.png" alt="tile"/>
        </div>
        <div class="w-100 d-mobile-none">
            <img class="w-100" src="../../../../assets/images/intro/tile_01.png" alt="tile"/>
        </div>
        <div class="w-100">
            <img class="w-100" src="../../../../assets/images/intro/tile_02.png" alt="tile"/>
        </div>
        <div class="w-100">
            <img class="w-100" src="../../../../assets/images/intro/tile_03.png" alt="tile"/>
        </div>
        <div class="w-100">
            <img class="w-100" src="../../../../assets/images/intro/tile_04.png" alt="tile"/>
        </div>
        <div class="w-100 d-mobile-none">
            <img class="w-100" src="../../../../assets/images/intro/tile_02.png" alt="tile"/>
        </div>
    </div>
</div>
