/* @media (max-width: 768px) {
    .banner-wrap {
      position: relative; 
      top: 100px;
      left: 0px;
    }
  
    img {
      width: 480px;
      height: 323px;
    }
  }
   */

   @media only screen and (max-width: 767px) {
    .d-mobile-none{
        display: none;
    }
}