<header class="header-wrap">
  <div class="container">
    <div class="row align-items-center justify-content-between py-2">
      <!-- Logo Section -->
      <div class="col">
        <a class="logo" href="#">
          <img src="../../../assets/images/logo.svg" alt="logo" class="logo-img" />
        </a>
      </div>

      <!-- Search Bar (Single Instance for Both Desktop & Mobile) -->
      <div class="col search-container">
       <!--  <app-search></app-search> -->
      </div>

      <!-- Icons Section -->
      <div class="col-auto d-flex align-items-center gap-4">
        <!-- Phone Icon with Number -->
        <a href="#" class="d-flex align-items-center gap-2">
          <i class="fa fs-22 fa-phone-volume"></i> 
          <span class="d-none d-lg-inline">888 444 9628</span>
        </a>

        <!-- User Menu / Dropdown -->
        <ng-container *ngIf="isAuthenticated; else signIn">
          <div ngbDropdown class="d-flex align-items-center">
            <a class="d-flex align-items-center gap-2" ngbDropdownToggle>
              <i class="fa fa-user fs-22"></i>
              <span class="d-none d-lg-inline">My Account</span>
            </a>
            <div ngbDropdownMenu>
              <button class="dropdown-item" (click)="Profile()">Profile</button>
              <button class="dropdown-item" (click)="booking()">My Booking</button>
              <button class="dropdown-item" (click)="logout()">Logout</button>
            </div>
          </div>
        </ng-container>

        <!-- Sign In Button -->
        <ng-template #signIn>
          <a (click)="openModal()" class="d-flex align-items-center gap-2" style="cursor: pointer;">
            <i class="fa fa-user fs-22"></i> 
            <span class="d-none d-lg-inline">Sign In</span>
          </a>
        </ng-template>

        <!-- Cart Icon -->
        <a href="#">
          <i class="fa fa-shopping-cart fs-26 text-purple"></i>
        </a>
      </div>
    </div>
  </div>
</header>
