<div class="home-services">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="inner-section">
          <div class="row mb-4">
            <div class="col-lg-3 col-md-6">
              <div
                ngbDropdown
                class="select-city d-flex gap-3 align-items-center"
              >
                <button
                  type="button"
                  class="w-100 border-0 p-0 px-3 gap-3 d-flex align-items-center bg-transparent text-white text-start"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                  <span>
                    <img src="../../../../assets/images/search.svg" />
                  </span>
                  {{ selectedOption ? selectedOption : "Select Your City" }}
                  <i class="fa fa-angle-down ms-auto"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button
                    *ngFor="let option of cities"
                    ngbDropdownItem
                    (click)="selectedOption = option.name"
                  >
                    {{ option.name }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="col-lg-3 col-md-6 mb-4"
              *ngFor="let service of services"
            >
              <div
                class="s-pill d-flex gap-3 align-items-center"
                [routerLink]="service.url"
              >
                <div
                  class="icon-holder d-flex align-items-center justify-content-center"
                >
                  <img
                    class="w-100"
                    src="assets/{{ service.icon }}"
                    alt="{{ service.name }} Icon"
                    width="50"
                    height="50"
                  />
                </div>

                <span>{{ service.name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
