<div class="chat-popup  bg-white ">
    <div class="p-4 d-flex flex-column">
    <div class="d-flex align-items-center gap-2">
        <img width="34" src="../../../../assets/images/hand.png" alt=""/>
        <h2 class="text-purple fw-bold fs-20 m-0">Hi there!</h2>
    </div>
    <p class="m-0">We are here to help!</p>
    <div class="d-flex mt-3">
        <span class="custom-btn rounded-pill d-flex align-items-center gap-4">Start Chatting</span>
    </div>
</div>
    <div class="bg-purple p-3 position-relative chat-footer mt-3">
        <a href="/contact-us" class="d-flex gap-2 align-items-center custom-light-btn rounded-pill fw-medium px-3
        position-absolute top-0 end-0 translate-middle-y fs-16 me-4 me-n3">
            <i class="fa fs-28 fa-phone-volume text-purple"></i> Contact Us
        </a>
    </div>
</div>
