<div class="salon-wrap position-relative">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12-flex flex-column mb-4 mb-lg-0">
              <div class="d-flex flex-column position-relative">
                  <div class="position-absolute text-white col-6 end-0 top-0 pt-5 mt-5 pe-4">
                      <h2 class="fs-30 fw-medium mb-2">Sharpen Your Look.</h2>
                      <p class="fs-18 m-0">Step out feeling confident, one haircut at a time.</p>
                      <div class="d-flex mt-4">
                          <a class="custom-btn rounded-pill d-flex align-items-center gap-4" href="#">Barber Service <i class="fa fs-30 fa-arrow-right"></i></a>
                      </div>
                  </div>
                  <div>
                      
                      <picture>
                        <!-- Mobile image -->
                        <source srcset="../../../../assets/images/side-view-stylist-giving-haircut@2x.png" media="(max-width: 767px)">
                        <!-- Desktop image -->
                        <img class="w-100" src="../../../../assets/images/salon_01.png" alt="Salon Image">
                    </picture>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 d-flex flex-column">
              <div class="d-flex flex-column position-relative">
                  <div class="position-absolute text-white col-6 start-0 top-0 pt-5 mt-5 ps-5">
                      <h2 class="fs-30 fw-medium mb-2">Unleash Your Inner Glow.</h2>
                      <p class="fs-18">Pamper yourself and let your beauty shine</p>
                  </div>
                  <div class="d-flex position-absolute start-0 ps-5 pb-5 bottom-0">
                      <a class="custom-btn rounded-pill d-flex align-items-center gap-4" href="#">Beauty Parlour Services <i class="fa fs-30 fa-arrow-right"></i></a>
                  </div>
                  <div>
                      
                      <picture>
                        <!-- Mobile image -->
                        <source srcset="../../../../assets/images/cosmetologist-applying-mask-face-client-beauty-salon@2x.png" media="(max-width: 767px)">
                        <!-- Desktop image -->
                        <img class="w-100" src="../../../../assets/images/span.png" alt="Beauty Parlour Image">
                    </picture>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
