body{min-height:calc(100vh)}

::ng-deep .pac-container { z-index: 10000 !important; }
/* ::ng-deep .form-right {
  margin-top: 30px;
  margin-bottom: -100px;
}
.form-right{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c9c9c9;
  padding-left: 0;
  font-size: 14px;
}
.form-group {
  margin-bottom: 10px;
} */
::placeholder {
  color: #c9c9c9;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #c9c9c9;
}