<header class="header-inner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-auto">
        <a class="logo" href="#">
          <img src="../../../assets/images/logo.svg" alt="logo" />
        </a>
        <a class="logo mobile-logo" href="">
          <img src="../../../assets/images/mobile-log.svg" alt="" />
        </a>
      </div>
      <div class="col-auto ms-auto">
        <div class="d-flex align-items-center gap-2">
          <p class="m-0">For any query</p>
          <img src="../../../assets/images/phone.png" />
          <p class="m-0 fs-24 text-purple fw-medium">888 444 9628</p>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="mover-banner bg-purple pt-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="req-description mb-4">
          <p class="fs-24 mb-2 text-white">Your</p>
          <h2
            class="font-display mb-4 fw-bold d-inline-flex align-items-end gap-2 bottom-line fs-70"
          >
            Stress-Free
            <sub class="font-poppins fs-24"> Moving Solution</sub>
          </h2>
          <p class="m-0 mt-4 fs-18">
            We handle all aspects of your move, so you can relax and enjoy your
            new home.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mover-steps-section">
  <div class="container">
    <span  class="blur-bg"></span>
    <span  class="blur-bg2"></span>
    <div class="row align-items-center">
      <div class="col-12 tab-wrapper">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (navChange)="navChanged($event)">
          <li [ngbNavItem]="1">
            <button class="" ngbNavLink>Step 1</button>
            <ng-template ngbNavContent>
              <div class="">
                <h3 class="text-uppercase fs-20 mb-3 fw-bold text-purple">
                  Movment details
                </h3>
                <div>
                  <form [formGroup]="Customerform">
                    <div class="row mb-4">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label>Moving From*</label>
                          <app-google-places
                            formControlName="fromaddress"
                            placeholder="Moving From"
                            [isRequired]="true"
                            [autocompleteInput]="jheader.fromaddress"
                            (setAddress)="getAddress($event, 'from')"
                            adressType="geocode"
                            [ngClass]="{
                              'is-invalid':
                                f['fromaddress'].touched &&
                                !f['fromaddress'].valid
                            }"
                          ></app-google-places>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <input
                            style="width: 100px"
                            type="number"
                            formControlName="fromfloor"
                            [(ngModel)]="jheader.fromfloor"
                            placeholder="Floor no"
                            [ngClass]="{
                              'form-control is-invalid':
                                f['fromfloor'].touched && !f['fromfloor'].valid
                            }"
                          />
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="checkbox">
                            <input
                              type="checkbox"
                              formControlName="fromlift"
                              [(ngModel)]="jheader.fromlift"
                            />
                            Service Lift
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label>Moving To*</label>
                          <app-google-places
                            formControlName="toaddress"
                            [placeholder]="
                              bookingInformation.categoryname ==
                              'Packers and Movers'
                                ? 'Moving to'
                                : 'Address'
                            "
                            [isRequired]="true"
                            [autocompleteInput]="jheader.toaddress"
                            (setAddress)="getAddress($event, 'to')"
                            adressType="geocode"
                            [ngClass]="{
                              'is-invalid':
                                f['toaddress'].touched && !f['toaddress'].valid
                            }"
                          ></app-google-places>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <input
                            style="width: 100px"
                            formControlName="tofloor"
                            type="number"
                            [(ngModel)]="jheader.tofloor"
                            placeholder="Floor no"
                            [ngClass]="{
                              'is-invalid form-control':
                                f['tofloor'].touched && !f['tofloor'].valid
                            }"
                          />
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="checkbox">
                            <input
                              type="checkbox"
                              formControlName="fromlift"
                              [(ngModel)]="jheader.tolift"
                            />
                            Service Lift
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col-md-5">
                        <div class="form-group">
                          <input
                            class="form-control"
                            type="text"
                            placeholder="Name"
                            [(ngModel)]="jcustomer.cust_name"
                            formControlName="cust_name"
                            [ngClass]="{
                              'is-invalid form-control':
                                f['cust_name'].touched && !f['cust_name'].valid
                            }"
                          />
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <input
                            class="form-control"
                            type="text"
                            placeholder="Phone No"
                            formControlName="cust_mobile"
                            [(ngModel)]="jcustomer.cust_mobile"
                            class="form-control sf-form-control"
                          />
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="form-group">
                          <input
                            class="form-control"
                            type="text"
                            placeholder="email"
                            formControlName="cust_email"
                            [(ngModel)]="jcustomer.cust_email"
                            class="form-control sf-form-control"
                          />
                        </div>
                      </div>
                    </div>

                    <div
                      class="form-group d-flex justify-content-end mb-0 mt-5 pt-5"
                    >
                      <button (click)="nextPage(2);"
                        type="submit"
                        class="custom-btn border-0 rounded-pill fw-bold px-4 bg-pink"
                      >
                        Next
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <button ngbNavLink>Step 2</button>
            <ng-template ngbNavContent>
              <h3 class="text-uppercase fs-20 mb-3 fw-bold text-purple">
                Moving Assets
              </h3>
              <div>
                <form>
                  <div class="row">
                    <div class="col-10 mb-4">
                      <div class="input-group rounded-pill m-0" ngbDropdown>
                        <input  #query (keyup)="searchData(query.value)"
                          type="text"
                          class="form-control border-0 rounded-pill shadow-none px-0 ps-4"
                          placeholder="Please enter any product name to search"
                          aria-label="Username"
                          aria-describedby="basic-addon1"
                        />
                        <span
                          class="input-group-text border-0 px-3 bg-pink text-white rounded-circle ms-2"
                          id="basic-addon1"
                        >
                          <i class="fa fa-search fs-22 scaleX-1"></i>
                        </span>
                      </div>
                    </div>
                    <!--   <div class="col-10">
                      <h4 class="fs-16 fw-normal">Select Your Item</h4>
                    </div> 
                    <div class="col-md-5">
                      <div class="selectitems d-flex gap-4">
                        <div class="flex-grow-1">
                          <ul>
                            <li class="selected-item">Door wardrobe</li>
                            <li class="selected-item">AC Split</li>
                            <li class="selected-item">AC Window</li>
                            <li>Almira</li>
                            <li class="selected-item">Bean Bag</li>
                            <li class="selected-item">Bedding mattress</li>
                          </ul>
                        </div>
                        <div class="bg-pink add-remove">
                          <div class="add">
                            <span class="add-item">
                              <i class="fa fa-angle-right"></i>
                            </span>
                            <span>ADD</span>
                          </div>
                          <div class="remove">
                            <span>Remove</span>
                            <span class="remove-item">
                              <i class="fa fa-angle-left"></i
                            ></span>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <div class="col-md-10">
                      <div class="selectitems">
                        <h4 class="fs-16 fw-normal">Selected Items</h4>

                        <ul>
                          <li
                            class="selected-item d-flex"
                            *ngFor="let item of Articlemstlist"
                          >
                            {{ item.itemname }}
                            <div class="d-flex align-items-center qty ms-auto">
                              <span
                                *ngIf="item.qty > 0"
                                (click)="changeQty(item, -1, '')"
                                >-</span
                              >
                              <input
                                *ngIf="item.qty > 0"
                                type="text"
                                value="{{ item?.qty }}"
                                #qtyRef
                                (keyup)="
                                  changeQty(
                                    item,
                                    qtyRef.value,
                                    'replace'
                                  )
                                "
                              />

                              <span
                                class="opacity-25"
                                (click)="changeQty(item, 1, '')"
                                >+</span
                              >
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div
                    class="form-group d-flex justify-content-end mb-0 mt-5 pt-5"
                  >
                    <button (click)="nextPage(3);"
                      type="submit"
                      class="custom-btn border-0 rounded-pill fw-bold px-4 bg-pink"
                    >
                      Next
                    </button>
                  </div>
                </form>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <button ngbNavLink>Step 3</button>
            <ng-template ngbNavContent>
              <div>
                <div class="row">
                  <div class="col-md-3">
                    <h3 class="text-uppercase fs-20 mb-4 fw-bold text-purple">
                      SCHEDULE YOUR SERVICE
                    </h3>
                    <div class="">
                      <h4 class="fs-16 fw-normal mb-3">
                        When you need this service
                      </h4>
                      <div class="d-flex mb-3">
                        <!-- <div
                          class="d-flex bg-pink align-items-center pick-date selected"
                        >
                          <p class="m-0 p-3 px-4 text-white fw-medium">
                            Service Date
                          </p>
                          <span class="bg-purple p-3 ms-auto">
                            <img
                              src="../../../assets/images/calendar-icon.svg"
                              alt=""
                            />
                          </span>
                        </div> -->
                      </div>
                      <div class="d-flex mb-3">
                        <div class="d-flex align-items-center pick-date">
                          <p class="m-0 p-0 px-4 text-purple fw-medium">
                            Pick A Date
                            <input
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            ngbDatepicker
                            #d="ngbDatepicker"
                             [minDate]="minDate"
                             [(ngModel)]="orderdate"
                          />
                          </p>
                          <span class="bg-purple p-3 ms-auto">
                            <img   (click)="d.toggle()"
                              src="../../../assets/images/calendar-icon.svg"
                              alt=""
                            />
                          </span>
                        </div>
                      </div>
                      <div class="d-flex mb-3">
                        <div class="d-flex align-items-center pick-time" (click)="toggleTimeRanges()">
                          <p class="m-0 p-3 px-4 text-purple fw-medium">
                            Select Time
                           <span *ngIf="strselectedtime!=''">  {{strselectedtime}}</span>
                          </p>
                          <span class="bg-purple p-3 ms-auto">
                            <img src="../../../assets/images/clock-icon.svg" alt="" />
                          </span>
                        </div>
                        <!-- Move the time ranges container outside the pick-date div -->
                        <div *ngIf="showTimeRanges" class="time-ranges-container">
                          <div class="time-range"  (click)="selecttime(10,'10 AM - 12 PM')">10 AM - 12 PM</div>
                          <div class="time-range"  (click)="selecttime(12,'12 AM - 02 PM')">12 PM - 02 PM</div>
                          <div class="time-range"  (click)="selecttime(14,'02 PM - 04 PM')">02 PM - 04 PM</div>
                          <div class="time-range"  (click)="selecttime(18,'04 PM - 06 PM')">04 PM - 06 PM</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <h3 class="text-uppercase fs-20 mb-4 fw-bold text-purple">
                      CHOOSE YOUR PACKAGE
                    </h3>
                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of PackageList">
                        <div class="package-col" [ngClass]="selectedValues === item.id ? 'selected' : ''"
                        (click)="onSelect(item,item.id,item.getcalculateamounts)"
                        >
                          <h4 class="text-purple fw-semibold fs-20">
                            {{item.packagename}}
                          </h4>
                          <h2 class="text-pink fs-50 fw-bold">₹  {{item.packageTotal}}</h2>
                          <ul>
                            <li *ngFor="let itemdetails of item.tpackagedtl">
                              <i class="fa fa-check"></i>
                              {{itemdetails.bulletdesc}}
                            </li>
                           
                          </ul>
                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
                <div class="col-12 d-flex justify-content-end mb-0 mt-5">
                  <button (click)="nextPage(4);"
                    type="submit"
                    class="custom-btn border-0 rounded-pill fw-bold px-4 bg-pink"
                  >
                    Proceed Payment
                  </button>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <button ngbNavLink>Step 4</button>
            <ng-template ngbNavContent>
              <div>
                <form>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="row mb-4">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Moving From*</label>
                            
                            <label> {{jheader.fromaddress}}</label>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-4">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Moving To*</label>
                            {{
                                jheader.toaddress
                    
                                }}
                          </div>
                        </div>
                      </div>
                      <div class="row mb-4">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Vehicle*</label>
                            {{
                                jheader.vehiclename
                    
                                }}
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Move Date*</label>
                            {{
                                jheader.orderdate
                  
                                }}
                          </div>
                        </div>
                      </div>
                      <div class="row mb-4">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Item to Move*</label>
                            {{  itemstomove}}
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Your Package*</label>
                            {{  selectedValues}}
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <p class="m-0">
                            Note: Boxes we provide are of 17 * 17 * 19 inch in
                            size.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="ps-4">
                        <h3
                          class="text-uppercase fs-20 mb-4 fw-bold text-purple"
                        >
                          PAYMENT
                        </h3>
                        <div class="paymet-table mb-4">
                          <div class="d-flex border-bottom">
                            <span class="p-3 px-4 flex-grow-1"
                              >Quotation Amount</span
                            >
                            <span class="p-3 pe-4">₹ {{cartService.cartTotal}}</span>
                          </div>
                          <div class="d-flex border-bottom">
                            <span class="p-3 px-4 flex-grow-1"
                              >Token to Pay</span
                            >
                            <span class="p-3 pe-4 border-start">₹ {{cartService.TokenAmount}}</span>
                          </div>
                          <div class="d-flex">
                            <span
                              class="p-3 px-4 flex-grow-1 fw-semibold text-purple"
                              >Balance Amount</span
                            >
                            <span
                              class="p-3 pe-4 bg-purple text-white fw-semibold"
                              >₹ {{(cartService.cartTotal-cartService.TokenAmount)}}</span
                            >
                          </div>
                        </div>
                        <h4 class="fs-16 fw-normal mb-3">
                          Select Payment Methods
                        </h4>
                        <div class="payment-method">
                          <ul>
                            <li>
                              <img src="../../../assets/images/upi.svg" />
                            </li>
                            <li>
                              <img src="../../../assets/images/card.svg" />
                            </li>
                            <li>
                              <img
                                src="../../../assets/images/net-banking.svg"
                              />
                            </li>
                            <li>
                              <img src="../../../assets/images/wallet.svg" />
                            </li>
                            <li>
                              <img src="../../../assets/images/qr.svg" />
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end mb-0 mt-5">
                      <button
                        type="submit"
                        class="custom-btn border-0 rounded-pill fw-bold px-4 bg-pink"
                      >
                        Place Order
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="   "></div>
      </div>
    </div>
  </div>
  <div class="shadow-line"></div>
</div>
