<div class="auth-wrap bg-white">
  <div class="row">
    <div class="col-6 bg-purple">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div>
            <h1>Welcome Back!</h1>
            <p>To keed connected with us please login with your personal info</p>
            <div class="">
                <a href="#" class="custom-btn rounded-pill d-flex align-items-center gap-4">
                    Login
                </a>
              </div>
            </div>
        </div>
    </div>
    <div class="col-6">
      <div class="auth-inner p-5">
        <div class="auth-logo">
          <img src="../../../assets/images/logo.svg" alt="logo" />
        </div>
        <div class="auth-title"><h1 class="fs-24 m-0">Create Account</h1></div>
        <div class="auth-form">
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              id="name"
              placeholder="Name"
            />
          </div>
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email"
            />
          </div>

          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              id="mobile"
              placeholder="Mobile No."
            />
          </div>
          <div class="mb-3">
            <button class="custom-btn rounded-pill d-flex align-items-center gap-4">
                Create Account
            </button>
          </div>
          <div class="auth-or">or</div>
          <div class="">
            <a href="#" class="custom-btn rounded-pill d-flex align-items-center gap-4">
                Continue with Google
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
