
<div class="create-account">
  <div class="bg-white">
    <div class="row m-0">
      <div class="col-6 p-0 bg-purple position-relative">
        <div class="position-absolute shadow-pink top-0 end-0 scaleX-1">
          <img src="../../../../assets/images/pink-shape.svg" alt="shap" style="width: 140px;">
        </div>
        <div class="position-absolute shadow-purple bottom-0 start-0">
          <img src="../../../../assets/images/white-shape.svg" alt="shap" class="scaleX-1" style="width: 150px;">
        </div>
        <div class="h-100 d-flex align-items-center justify-content-center">
          <div class="text-center text-white col-8">
            <h1 class="fs-24 mb-3 fw-semibold">Welcome Back!</h1>
            <p class="fs-15 m-0">To keep connected with us please login with your personal info</p>
            <div class="d-flex justify-content-center mt-4">
              <a href="#" class="custom-lightborder-btn px-4 fw-semibold rounded-pill d-flex align-items-center">Login</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 p-0">
        <div class="p-5">
          <div class="logo d-flex justify-content-center mb-4">
            <img src="../../../assets/images/logo.svg" alt="logo" />
          </div>
          <div class="auth-title text-center mb-3">
            <h2 class="fs-24 m-0 fw-semibold">Create Account</h2>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="validate()">
            <div class="mb-3">
              <input type="text" class="form-control border-0 border-bottom rounded-0 ps-0" formControlName="name" placeholder="Name" />
              <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="text-danger">Valid name is required</div>
            </div>
            <div class="mb-3">
              <input type="email" class="form-control border-0 border-bottom rounded-0 ps-0" formControlName="email" placeholder="Email" />
              <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
                Valid email is required
              </div>
            </div>
            <div class="mb-3">
              <input [disabled]="true" type="text" class="form-control border-0 border-bottom rounded-0 ps-0" formControlName="phone" placeholder="Mobile No." />
              <div *ngIf="registerForm.get('mobile')?.invalid && registerForm.get('mobile')?.touched" class="text-danger">Valid 10-digit mobile number is required</div>
            </div>
            <div class="mb-3 d-flex justify-content-center mt-5">
              <button type="submit" class="custom-btn border-0 px-5 fs-18 fw-semibold rounded-pill d-flex align-items-center gap-4" [disabled]="registerForm.invalid">
                Create Account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>