<div class="faild-payment position-relative py-5 mb-5">
    <div  class="position-absolute shadow-pink bottom-0 end-0 scaleX-1">
        <img  src="../../../../assets/images/pink-shape.svg" alt="shap" class="pt-5" style="width: 180px;"></div>
    <div  class="position-absolute shadow-purple top-0 start-0">
        <img  src="../../../../assets/images/purple-shape.svg" alt="shap" class="scaleX-1" style="width: 180px;"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="d-flex justify-content-center">
                    <img src="../../../assets/images/thankyou.svg"/>
                </div>
                <h2 class="fs-40 fw-semibold text-purple">Yey!</h2>
                <h1 class="fs-70 fw-semibold text-pink">Thank you!</h1>
                <p  class="fs-40 fw-semibold text-dark">Your Payment Is Successfull</p>
                <p  class="fs-24 fw-semibold text-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-12">
                    <div class="d-flex justify-content-center mb-3 mt-4 pt-2">
                        <a href="/" class="custom-btn border-0 px-4 fw-semibold rounded-pill d-flex align-items-center">
                            Go To Back
                        </a>
                      </div>
                </div>
            </div>
        </div>


</div>
