<div class="services-banner">
  <div class="d-flex">
    <div class="col-7">
      <img
        class="w-100"
        src="../../../assets/images/young-builder-man.png"
        alt=""
      />
    </div>
    <div class="col-5 bg-purple px-4 py-5 text-white d-flex align-items-center">
      <div class="ps-4">
        <h1 class="fs-40 mb-4 fw-semibold col-lg-5">
          {{cat_name}}
        </h1>
        <p class="m-0 col-7 fs-18">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry’s.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <app-home-services></app-home-services> -->
<div class="services-wrap">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <div class="d-flex mb-4">
          <span
            class="rounded-pill bg-black px-4 py-2 fs-20 fw-medium text-white"
            >{{cat_name}}</span
          >
        </div>
        <h2 class="fs-50 fw-semibold text-purple mb-3">Keep Cool. Stay Comfy.</h2>
        <p>Breathe easy knowing your AC is always in tip-top shape.</p>
      </div>
    </div>
   <!--  <div *ngFor="let item of services" class="col"> -->
    <div *ngFor="let item of CategoryList" class="col">
    
      <div class="item-card mb-5">
        <div class="row">
          <div class="col-7">
            <div class="mb-3">
              <div class="mb-2">
               <!--  {{ item.warranty }} -->
              </div>
              <h3 class="fs-24 fw-semibold text-pink">{{ item.cat_name}}</h3>
            </div>
            <div class="d-flex gap-2 align-items-center">
              <img src="../../../assets/images/material-stars.svg">
             <!--  {{ item.reviews }} -->
            </div>
            <div class="d-flex gap-4 mt-3">
              <div class="d-flex gap-2 align-items-center fs-20 fw-semibold">
                <img src="../../../assets/images/rupees.svg">
               
              <!--   {{ item.price }} -->
              </div>
              <div class="d-flex gap-2 align-items-center fs-20 fw-semibold">
                <img src="../../../assets/images/clock.svg"> 
                <!-- {{ item.time }} -->
              </div>
            </div>
            <hr/>
            <div class="list">
              <ul class="m-0 p-0">
                <li>
                 <!--  {{ item.description }} -->
                </li>
               
              </ul>
             
            </div>
            
          </div>
          <div class="col-5">
            <img class="w-100" src="{{ item.imageUrl }}" alt="" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-7">
            <div class="d-flex">
              <a
              [routerLink]="['/service-details']"
                class="custom-btn rounded-pill d-flex align-items-center gap-3"
                >View Details <i class="fa fs-30 fa-arrow-right"></i
              ></a>
            </div>
          </div>
          <div class="col-5">
            <button class="custom-btn rounded-pill bg-light fs-18 text-dark fw-normal ps-4 d-flex align-items-center gap-4 border-0">
              Add to Cart
              <i class="fa fa-shopping-cart fs-30 text-purple"></i>
            </button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-home-request
  path="{{ plumber }}"
  bgColor="bg-pink"
  subtitle="Request a"
  title="Free Home"
  titleshort="Safety Inspection"
  description="Book a Lighting Installation Project, Get Help Troubleshooting Electrical Issues & Download Our Guide to Safe Electrical Practices"
  btntext="Get Your Free Quote Now"
  col="col-6"
  shapPath="{{ shapblue }}"
  shapeposition="position-absolute top-50 end-0 translate-middle-y"
  fontsize="fs-70"
></app-home-request>
<app-home-faq></app-home-faq> -->
