<app-intro></app-intro>
<app-home-services></app-home-services>
<app-home-house-expert></app-home-house-expert>
<app-home-request
  path="{{ plumber }}"
  bgColor="bg-pink"
  subtitle="Request a"
  title="Free Home"
  titleshort="Safety Inspection"
  description="Book a Lighting Installation Project, Get Help Troubleshooting Electrical Issues & Download Our Guide to Safe Electrical Practices"
  btntext="Get Your Free Quote Now"
  col="col-6"
  shapPath="{{ shapblue }}"
  shapeposition="position-absolute top-50 end-0 translate-middle-y"
  fontsize="fs-70"
></app-home-request>
<app-stopleaks></app-stopleaks>
<app-home-request
  path="{{ cheerful }}"
  order="order-2"
  bgColor="bg-purple"
  subtitle="Get"
  title="Packing Supplies"
  titleshort="and Tips"
  description="Learn About Our Insurance Options, Book Your Move Now and Get a Discount"
  btntext="Request a Free Moving Quote"
  col="col-4"
  shapPath="{{ shappink }}"
  shapeposition="position-absolute top-50 start-0 translate-middle-y"
  fontsize="fs-50"
></app-home-request>
<app-biteback></app-biteback>
<app-home-request
  bgColor="bg-pink"
  subtitle="Schedule a"
  title="Home Valuation"
  description="Browse Our Current Listings, Contact Us for a Buyer’s Consultation & Learn About Our Selling Process"
  btntext="Get Your Free Quote Now"
  col="col-6"
  shapPath="{{ shapblue }}"
  shapeposition="position-absolute top-50 end-0 translate-middle-y"
  outsideimg="{{ outsideplace }}"
  fontsize="fs-70"
></app-home-request>
<app-salon></app-salon>
<app-home-request
  full="container-fuid"
  bgColor="bg-purple"
  subtitle="Book Your"
  title="Spa Day Now"
  description=" Book a Lighting Installation Project, Get Help Troubleshooting
Electrical Issues & Download Our Guide to Safe Electrical Practices"
  btntext="Sign Up for Our Beauty Newsletter"
  order="order-2 ps-5"
  col="col-3"
  shapPath="{{ shappink }}"
  spaimg="{{ tender }}"
  shapeposition="position-absolute top-50 start-0 translate-middle-y"
  spaPosition="position-absolute top-50 start-50 translate-middle"
  fontsize="fs-70"
></app-home-request>
<app-home-faq></app-home-faq>
