<app-intro></app-intro>
<app-home-services></app-home-services>
<app-home-house-expert></app-home-house-expert>
<app-home-request
  bgColor="bg-pink"
  subtitle="Request a"
  title="Free Home"
  titleshort="Safety Inspection"
  description="Book a Lighting Installation Project, Get Help Troubleshooting Electrical Issues & Download Our Guide to Safe Electrical Practices"
  btntext="Get Your Free Quote Now"
  shapeposition="position-absolute end-0 translate-middle-y w-20"
  path="{{ plumber }}"
  shapPath="{{ shapblue }}"
  [col]="isMobile ? 'col-6' : 'col-6'"
  [order]="isMobile ? '' : ''"
  [fontsize]="isMobile ? 'fs-40' : 'fs-70'"
  [layout]="isMobile ? 'mobile-layout' : 'desktop-layout'"
  [isImageTop]="false"
  [isImageOnTopOfShape]="true"
  [height]="isMobile ? '600px' : '800px'"
></app-home-request>
<app-stopleaks></app-stopleaks>
<app-home-request
  path="{{ cheerful }}"
  bgColor="bg-purple"
  subtitle="Get"
  title="Packing Supplies"
  titleshort="and Tips"
  description="Learn About Our Insurance Options, Book Your Move Now and Get a Discount"
  btntext="Request a Free Moving Quote"
  shapeposition="position-absolute  start-0 translate-middle-y"
  shapPath="{{ shappink }}"
  [order]="isMobile ? '' : 'order-2'"
  [col]="isMobile ? 'col-12' : 'col-4'"
  [fontsize]="isMobile ? 'fs-40' : 'fs-50'"
  [spaPosition]="isMobile ? 'mobile-spa-position' : 'desktop-spa-position'"
  [layout]="isMobile ? 'mobile-layout' : 'desktop-layout'"
  [isImageTop]="false"
  [shapeTopPosition]="isMobile ? '60%' : '20%'"
  [isImageOnTopOfShape]="true"
  [height]="isMobile ? '600px' : '800px'"
></app-home-request>
<app-biteback></app-biteback>
<app-home-request
  bgColor="bg-pink"
  subtitle="Schedule a"
  title="Home Valuation"
  description="Browse Our Current Listings, Contact Us for a Buyer’s Consultation & Learn About Our Selling Process"
  btntext="Get Your Free Quote Now"
  shapeposition="position-absolute end-0 translate-middle-y"
  shapPath="{{ shapblue }}"
  path="{{ HomeValuation }}"
  [col]="isMobile ? 'col-6' : 'col-6'"
  [order]="isMobile ? '' : ''"
  [fontsize]="isMobile ? 'fs-40' : 'fs-70'"
  [layout]="isMobile ? 'mobile-layout' : 'desktop-layout'"
  [isImageTop]="false"
  [shapeTopPosition]="isMobile ? '60%' : '20%'"
  [isImageOnTopOfShape]="true"
  [height]="isMobile ? '600px' : '800px'"
></app-home-request>
<app-salon></app-salon>
<app-home-request
  [bgColor]="'bg-purple'"
  [subtitle]="'Book Your'"
  [title]="'Spa Day Now'"
  [description]="
    'Book a Lighting Installation Project, Get Help Troubleshooting Electrical Issues & Download Our Guide to Safe Electrical Practices'
  "
  [btntext]="'Sign Up for Our Beauty Newsletter'"
  [shapeposition]="'position-absolute top-25 start-0 translate-middle-y'"
  [spaPosition]="'position-absolute start-50 translate-middle'"
  [path]="tender"
  [shapPath]="shappink"
  [fontsize]="isMobile ? 'fs-40' : 'fs-70'"
  [order]="isMobile ? 'order-2' : 'order-2 ps-5'"
  [col]="isMobile ? 'col-6' : 'col-3'"
  [layout]="isMobile ? 'mobile-layout' : 'desktop-layout'"
  [isImageTop]="false"
  [shapeTopPosition]="isMobile ? '25%' : '20%'"
  [isImageOnTopOfShape]="false"
  [height]="isMobile ? '600px' : '800px'"
></app-home-request>

<app-home-faq></app-home-faq>

