<div class="cart-wrapper pt-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h1 class="m-0 fs-40 fw-semibold text-purple">Cart</h1>
            </div>
            <div class="col-auto">
                <a href="/" class="custom-btn border-0 px-4 fw-semibold rounded-pill d-flex align-items-center">Go To
                    Back</a>
            </div>
        </div>
    </div>
    <div class="cart-table mt-4">
        <div class="header mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex text-purple fs-24 fw-semibold px-3">
                            <div class="column-img py-3"></div>
                            <div class="column-common py-3 ps-4">Product</div>
                            <div class="column-action d-flex">
                                <div class="py-3">Price</div>
                                <div class="py-3">Quantity</div>
                                <div class="py-3 px-4">Total</div>
                                <div class="py-3 opacity-0 ms-auto">

                                    <i class="fa fa-times fs-40"></i>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-table-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex body-row align-items-center px-3 py-4 mb-5">
                            <div class="column-img py-3">
                                <div class="img-col"></div>
                            </div>
                            <div class="column-common py-3 ps-4 d-flex align-items-center">
                                <div>
                                    <h2 class="fs-24 text-purple fw-semibold mb-3">Full RICA roll-on waxing</h2>
                                    <ul class="list-item fs-18">
                                        <li>50 mins</li>
                                        <li>Facial Hair Removal: Forehead </li>
                                        <li>Roll On Waxing: Full arms + half <br>legs (RICA Roll-on)</li>
                                    </ul>
                                    <div class="d-flex mt-4">
                                        <a href="/"
                                            class="custom-btn border-0 px-4 fw-semibold rounded-pill d-flex align-items-center">Edit</a>
                                    </div>
                                </div>

                            </div>
                            <div class="column-action d-flex    align-items-center">
                                <div class="">
                                    <p class="fs-24 text-purple fw-semibold m-0">₹00</p>
                                    <p class="fs-18 m-0">₹00</p>
                                </div>
                                <div>
                                    <div class="qyt d-flex align-items-center">
                                        <span>
                                            <i class="fa fa-minus fs-18"></i>
                                        </span>
                                        <input type="text" value="1" class="border-0 shadow-none">
                                        <span>
                                            <i class="fa fa-plus fs-18"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="px-4">
                                    <p class="fs-24 text-pink fw-semibold m-0">₹00</p>

                                </div>
                                <div class="ms-auto">
                                    <a href="#">
                                        <i class="fa fa-times fs-32 text-dark opacity-50"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex body-row align-items-center px-3 py-4">
                            <div class="column-img py-3">
                                <div class="img-col"></div>
                            </div>
                            <div class="column-common py-3 ps-4 d-flex align-items-center">
                                <div>
                                    <h2 class="fs-24 text-purple fw-semibold mb-3">Full RICA roll-on waxing</h2>
                                    <ul class="list-item fs-18">
                                        <li>50 mins</li>
                                        <li>Facial Hair Removal: Forehead </li>
                                        <li>Roll On Waxing: Full arms + half <br>legs (RICA Roll-on)</li>
                                    </ul>
                                    <div class="d-flex mt-4">
                                        <a href="/"
                                            class="custom-btn border-0 px-4 fw-semibold rounded-pill d-flex align-items-center">Edit</a>
                                    </div>
                                </div>

                            </div>
                            <div class="column-action d-flex    align-items-center">
                                <div class="">
                                    <p class="fs-24 text-purple fw-semibold m-0">₹00</p>
                                    <p class="fs-18 m-0">₹00</p>
                                </div>
                                <div>
                                    <div class="qyt d-flex align-items-center">
                                        <span>
                                            <i class="fa fa-minus fs-18"></i>
                                        </span>
                                        <input type="text" value="1" class="border-0 shadow-none">
                                        <span>
                                            <i class="fa fa-plus fs-18"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="px-4">
                                    <p class="fs-24 text-pink fw-semibold m-0">₹00</p>

                                </div>
                                <div class="ms-auto">
                                    <a href="#">
                                        <i class="fa fa-times fs-32 text-dark opacity-50"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="bg-purple py-3 mt-5">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-auto">
                    <div class="d-flex align-items-center gap-3">
                        <div class="fs-40 fw-semibold text-white">
                            %
                        </div>
                        <div>
                            <p class="m-0 fs-24 fw-medium text-white">Coupons & Offers</p>
                            <p class="m-0 fs-18 text-white">Save ₹228 on this order</p>
                        </div>

                    </div>
                </div>
                <div class="col-auto ms-auto">
                    <div class="bg-white fw-semibold fs-18 text-dark rounded-pill px-4 py-3">4 offers</div>
                </div>
            </div>
        </div>
    </div>
    <div class="frequently-added">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="fs-40 fw-semibold text-pink m-0">Frequently Added Together</h2>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <!-- <swiper-container slides-per-view="2" speed="500" centered-slides="true" space-between="20" loop="true">

                <swiper-slide *ngFor="let service of slider">
                    <div class="col-str p-5 m-2 h-100 {{ service.bgColor }}">
                        <div class="d-flex align-items-center gap-4">
                        <div class="str-circle p-4 d-flex justify-content-center">
                          <img class="img-fluid" src="{{ service.icon }}"/>
                        </div>
                        <div class=" mt-3">
                          <h3 class="fs-24 fw-semibold mb-3">{{ service.name }}</h3>
                          <p class="fs-40 fw-semibold m-0 opacity-50">₹ {{ service.price}}</p>
                        </div>
                    </div>
                        <div class="border-top d-flex border-white pt-4 mt-4">
                            <a href="#" class="custom-btn border-0 px-4 fw-semibold rounded-pill d-flex align-items-center">Add</a>
                        </div>
                      </div>
                </swiper-slide>
             
              </swiper-container> -->
              
        </div>
    </div>
    <div class="offer-sec position-relative pt-5 mb-5">
        <div  class="position-absolute shadow-pink top-0 end-0 ">
            <img  src="../../../../assets/images/white-shape.svg" alt="shap" class="" style="width: 180px;"></div>
        <div  class="position-absolute shadow-purple bottom-0 start-0 scaleX-1">
            <img  src="../../../../assets/images/pink-shape.svg" alt="shap" class="scaleX-1" style="width: 135px;"></div>
        <div class="container">
            <div class="row">
            <div class="col-md-6 pb-5   ">
                <div *ngFor="let item of offer" class="mb-4">
                    <div class="d-flex mb-3">
                        <div class="offer-circle d-flex align-items-center justify-content-center fs-40 fw-semibold text-pink">
                            %
                        </div>
                    </div>
                    <h3 class="fs-24 fw-semibold text-dark m-0">{{ item.title }}</h3>
                    <p class="fs-18 m-0">{{ item.desc }}</p>
                </div>
                <div class="border-top d-flex border-white">
                    <a href="#" class="custom-btn border-0 px-4 fw-semibold rounded-pill d-flex align-items-center">View Less Offers</a>
                </div>

            </div>
            <div class="col-md-6 position-relative z-ind d-flex align-items-end">
                <div class="box-wrap flex-grow-1 me-5">
                <div class="order-summary position-relative ">
<h4 class="fs-24 fw-semibold px-5 pt-5 pb-3 text-purple">Order Summary</h4>
<div class="list fs-18">
    <div class="d-flex py-3 px-5">
        <div class="">
            Total Services
        </div>
        <div class="ms-auto">₹00</div>
    </div>
    <div class="d-flex py-3 px-5">
        <div class="">
            Services Discount
        </div>
        <div class="ms-auto text-danger">-₹00</div>
    </div>
    <div class="d-flex py-3 px-5">
        <div class="">
            Taxes and Fee
        </div>
        <div class="ms-auto">₹00</div>
    </div>
    <div class="border-top d-flex border-white fs-24 fw-semibold text-purple py-3 px-5">
        <div class="">
            Amount To Pay
        </div>
        <div class="ms-auto">₹00</div>
    </div>
</div>
<div class="border-top py-5 d-flex justify-content-center border-white pt-4 mt-4">
    <a href="#" class="custom-btn border-0 px-4 fw-semibold rounded-pill d-flex align-items-center">Checkout</a>
</div>
                </div>
                <span class="bottom-shadow"></span>
            </div>
            </div>
        </div>
        </div>

       <div class="bg-purple h-100 end-0 top-0 col-5 position-absolute"></div>

    </div>
    <div class="bg-purple py-3">
        <p class="text-white fs-24 fw-semibold m-0 text-center">Congratulations! ₹0 saved so far!</p>
    </div>
</div>
<div class="ftr d-flex align-items-center justify-content-center pb-5">
    <img src="../../../assets/images/logo.svg" alt="logo" />
  </div>