.about-us-container {
    padding: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .company-name {
    font-weight: bold;
    color: #ff6600; /* Custom color */
  }
  
  .highlight {
    color: #007bff; /* Custom highlight color */
    font-weight: bold;
  }
  @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:"Segoe UI Symbol";
	panose-1:2 11 5 2 4 2 4 2 2 3;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	font-size:10.5pt;
	font-family:"Calibri",sans-serif;}
.MsoChpDefault
	{font-size:10.5pt;
	font-family:"Calibri",sans-serif;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}