<div class="input-group rounded-pill m-0" ngbDropdown>
  <span class="input-group-text bg-transparent border-0 px-3" id="basic-addon1">
    <i class="fa fa-search fs-22 scaleX-1"></i>
  </span>
  <input
    type="text"
    class="form-control border-0 rounded-pill shadow-none px-0"
    placeholder="Search the Service"
    aria-label="Username"
    aria-describedby="basic-addon1"
  />
  <span
    id="dropdownBasic1"
    ngbDropdownToggle
    class="input-group-text bg-transparent border-0 px-3"
    id="basic-addon1"
  >
    <i class="fa fa-angle-down fw-bold"></i>
  </span>

  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button ngbDropdownItem>Action - 1</button>
    <button ngbDropdownItem>Another Action</button>
    <button ngbDropdownItem>Something else is here</button>
  </div>
</div>
