

  <!--   <input type="text" class="my-search-box" (keydown.enter)="$event.preventDefault()" placeholder="Search Location"
    type="text" #search /> -->

  <google-map #myGoogleMap height="430px" width="100%" [zoom]="zoom" [center]="center" [options]="options"
    (mapClick)="eventHandler($event,'mapClick')" (mapDblclick)="eventHandler($event,'mapDblclick')"
    (mapDrag)="eventHandler($event,'mapDrag')" (mapDragend)="eventHandler($event,'mapDragend')"
    (mapRightclick)="eventHandler($event,'mapRightclick')"
    (positionChanged)="eventHandler($event,'marker_positionChanged')"
    (zoomChanged)="eventHandler($event,'zoomChanged')">

    <map-marker #markerElem="mapMarker" *ngFor="let marker of markers" [position]="marker.position"
      [label]="marker.label" [title]="marker.title" [options]="marker.options"
      icon='assets/images/map-house.svg'
      (mapDrag)="eventHandler($event,'mapDragMarker')" (mapDragend)="eventHandler($event,'mapDragend')">
    </map-marker>
    <map-directions-renderer *ngIf="(directionsResults$ | async) as directionsResults"
    [directions]="directionsResults" ></map-directions-renderer>
  </google-map>

