.packege_col {
  border: 2px solid #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

/* Only enable hover when this class is added */
.hover-enabled:hover {
  border-color: #022279;
  cursor: pointer;
}

.selected {
  border-color: #022279;
  background: #022279 !important;
  color: #fff;
}

.selected a.bg-warning {
  background: #022279 !important;
  color: #fff;
}

.packege_col_mybooking {
  border: 2px solid #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  pointer-events: none;
  cursor: default;
}

.packege_col_mybooking.selected {
  border-color: #022279;
  background: #022279 !important;
  color: #fff;
}