<div class="modal-header">
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="wrapper">

    <!-- Page: package -->
    <div *ngIf="pagename === 'package'" class="row">
      <div class="col-md-6" *ngFor="let item of PackageList">
        <div class="card text-center p-4 packege_col" [ngClass]="[
               selectedValues === item.id ? 'selected' : '',
               pagename === 'package' ? 'hover-enabled' : ''
             ]" (click)="onSelect(item, item.id, item.getcalculateamounts)">
          <h3 class="mb-2">{{ item.packagename }}</h3>
          <p class="h1 mb-0">₹ {{ item.packageTotal }}</p>
          <div class="my-3" *ngIf="selectedValues === item.id">
            <div class="bg-warning font-12 font-bold text-uppercase rounded d-inline-block py-2 px-4">
              Selected
            </div>
          </div>
          <ul class="p-0 m-0" style="list-style: none;">
            <li class="mb-3" *ngFor="let itemdetails of item.tpackagedtl">
              <p class="mb-0"><i class="pi pi-check text-success font-bold"></i></p>
              {{ itemdetails.bulletdesc }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Page: mybooking -->
    <div *ngIf="pagename === 'mybooking'" class="row">
      <div class="col-md-12" *ngFor="let item of PackageList">
        <div class="card text-center p-4 packege_col_mybooking"
          [ngClass]="selectedValues === item.id ? 'selected' : ''">
          <h3 class="mb-2">{{ item.packagename }}</h3>
          <p class="h1 mb-0">₹ {{ item.packageTotal }}</p>
          <div class="my-3" *ngIf="selectedValues === item.id">
            <div class="bg-warning font-12 font-bold text-uppercase rounded d-inline-block py-2 px-4">
              Selected
            </div>
          </div>
          <ul class="p-0 m-0" style="list-style: none;">
            <li class="mb-3" *ngFor="let itemdetails of item.tpackagedtl">
              <p class="mb-0"><i class="pi pi-check text-success font-bold"></i></p>
              {{ itemdetails.bulletdesc }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Page: cartfinal -->
    <div *ngIf="pagename === 'cartfinal'" class="row">
      <div class="col-md-12" *ngFor="let item of PackageList">
        <div class="card text-center p-4 packege_col selected">
          <div class="d-flex mb-3 align-items-center">
            <div>
              <div class="bg-warning font-12 font-bold text-uppercase rounded d-inline-block py-2 px-4">
                Your selected Package
              </div>
            </div>
            <h3 class="font-20 font-medium mb-2">{{ item.packagename }}</h3>
            <div class="ml-auto d-flex align-items-center"></div>
          </div>
          <ul class="p-0 m-0 d-flex justify-content-left flex-wrap" style="list-style: none;">
            <li class="mb-3 font-16 font-medium d-flex" *ngFor="let itemdetails of item.tpackagedtl">
              <p class="mb-0 mr-2">&nbsp;&nbsp;<i class="pi pi-check text-success font-bold"></i></p>
              {{ itemdetails.bulletdesc }}
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>