<div class="stopleaks-wrap">
    <div class="container">
      <div class="row">
        <div class="col-6 d-flex flex-column">
          <div class="d-flex flex-column bg-light-red ps-4 pb-4">
            <div class="pe-3 order-2 pt-4 text-white">
              <h2 class="fs-30 fw-medium mb-2">Stop Leaks. Start Flowing.</h2>
              <p class="fs-18">We’ll keep your water worries at bay, <br>guaranteed.</p>
              <div class="d-flex">
                <a class="custom-btn d-flex align-items-center gap-4" href="#">Plumbing Services <i class="fa fs-30 fa-arrow-right"></i></a>
              </div>
            </div>
            <div class="order-1">
              <img class="w-100" src="../../../../assets/images/plumber-using.png" />
            </div>
          </div>
  
         
        </div>
        <div class="col-6 d-flex flex-column">
        <div class="d-flex flex-column bg-light-green flex-grow-1 ps-4">
            <div class=" pt-4 pe-4">
              <h2 class="fs-30 fw-medium mb-2">Move with Ease. <br>Settle with Peace.</h2>
              <p class="fs-18">Let us handle the heavy lifting, you focus on <br>the new beginnings.</p>
              <div class="d-flex mb-3">
                <a class="custom-btn d-flex align-items-center gap-4" href="#">Packers and Movers Services <i class="fa fs-30 fa-arrow-right"></i></a>
              </div>
            </div>
            <div class="mt-auto">
              <img class="w-100" src="../../../../assets/images/young-delivery.png" />
            </div>
          </div>
       </div>
      </div>
    </div>
   
  </div>
  